<a href="https://colab.research.google.com/github/YasiruMM/Medicine-Prediction-Grp-22/blob/Diabetics_-Data_-Cleaning/Diabetics_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Data Preprocessing**#

###**Imports**###

In [34]:
import pandas as pd
import os
import glob
import re

##Creating a basic structure for the ALPHA GLUCO medicine##

###Creating the basic structure for the xl sheets that contains item code

In [29]:
# Define the column names
column_names = ['Item Code', 'Item Name', 'P Price', 'R Price', 'PurchPrice', 'RetailPrice', 'Total']

# Define the file paths
file_paths = ['03.24.xlsx', '06.24.xlsx', '07.24.xlsx', '08.24.xlsx', '09.24.xlsx', '10.24.xlsx']

# Create an empty list to store the dataframes
dfs = []

for file_path in file_paths:
    try:
        df = pd.read_excel(file_path, names=column_names)
        dfs.append(df)
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred while reading {file_path}: {e}")

# Concatenate all the dataframes into a single dataframe
combined_df = pd.concat(dfs, ignore_index=True)

print(combined_df.head())

   Item Code       Item Name  P Price  R Price  PurchPrice  RetailPrice  Total
0      11052    DIABOSE 50MG     44.7     52.8   1745803.2    2062156.8   2934
1      11052    DIABOSE 50MG     45.4     52.8   1737412.6    2020603.2   3185
2      11257  GLUCOBAY 100MG     75.7     47.7      1514.0        954.0      8
3      11257  GLUCOBAY 100MG     75.7     88.5    360710.5     421702.5    684
4      11153   GLUCOBAY 50MG     46.8     26.8       327.6        187.6      0

In [30]:
# Removed the 'Item Code' and 'Total' columns
combined_df = combined_df.drop(columns=['Item Code', 'Total'])

combined_df.to_excel('modified_data.xlsx', index=False, header=True)

print(combined_df.head())

        Item Name  P Price  R Price  PurchPrice  RetailPrice
0    DIABOSE 50MG     44.7     52.8   1745803.2    2062156.8
1    DIABOSE 50MG     45.4     52.8   1737412.6    2020603.2
2  GLUCOBAY 100MG     75.7     47.7      1514.0        954.0
3  GLUCOBAY 100MG     75.7     88.5    360710.5     421702.5
4   GLUCOBAY 50MG     46.8     26.8       327.6        187.6

###Creating the basic structure for the xl sheets that do not contains item code###

In [31]:
column_names = ['Item Name', 'P Price', 'R Price', 'PurchPrice', 'RetailPrice', 'Total']

file_paths = ['02.24.xlsx', '04.24.xlsx', '05.24.xlsx']


dfs = []

for file_path in file_paths:
    try:
        df = pd.read_excel(file_path, names=column_names)
        dfs.append(df)
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred while reading {file_path}: {e}")

combined_df = pd.concat(dfs, ignore_index=True)

print(combined_df.head())

        Item Name  P Price  R Price  PurchPrice  RetailPrice  Total
0    DIABOSE 50MG     44.7     52.8   1745803.2    2062156.8   4243
1    DIABOSE 50MG     45.4     52.8   1737412.6    2020603.2   3427
2  GLUCOBAY 100MG     75.7     47.7      1514.0        954.0      1
3  GLUCOBAY 100MG     75.7     88.5    360710.5     421702.5    753
4   GLUCOBAY 50MG     46.8     26.8       327.6        187.6      0

In [32]:
# Removed the 'Total' columns
combined_df = combined_df.drop(columns=['Total'])

combined_df.to_excel('modified_data_2.xlsx', index=False, header=True)

print(combined_df.head())

        Item Name  P Price  R Price  PurchPrice  RetailPrice
0    DIABOSE 50MG     44.7     52.8   1745803.2    2062156.8
1    DIABOSE 50MG     45.4     52.8   1737412.6    2020603.2
2  GLUCOBAY 100MG     75.7     47.7      1514.0        954.0
3  GLUCOBAY 100MG     75.7     88.5    360710.5     421702.5
4   GLUCOBAY 50MG     46.8     26.8       327.6        187.6

###Combining the two datasets###

In [33]:
# Loaded the two datasets
modified_data = pd.read_excel('modified_data.xlsx')
modified_data_2 = pd.read_excel('modified_data_2.xlsx')

# Combine the datasets
combined_dataset = pd.concat([modified_data, modified_data_2], ignore_index=True)

print(combined_dataset.head())

combined_dataset.to_excel('combined_dataset.xlsx', index=False)

        Item Name  P Price  R Price  PurchPrice  RetailPrice
0    DIABOSE 50MG     44.7     52.8   1745803.2    2062156.8
1    DIABOSE 50MG     45.4     52.8   1737412.6    2020603.2
2  GLUCOBAY 100MG     75.7     47.7      1514.0        954.0
3  GLUCOBAY 100MG     75.7     88.5    360710.5     421702.5
4   GLUCOBAY 50MG     46.8     26.8       327.6        187.6

###Finalized dataset for ALPHA GLUCO###

In [35]:
def extract_dosage(item_name):
    match = re.search(r'(\d+\w*)MG', item_name, re.IGNORECASE)
    if match:
        return match.group(1) + "MG"
    else:
        return None

combined_dataset['Dosage'] = combined_dataset['Item Name'].apply(extract_dosage)
print(combined_dataset.head())

combined_dataset.to_excel('ALPHA GLUCO.xlsx', index=False)

        Item Name  P Price  R Price  PurchPrice  RetailPrice Dosage
0    DIABOSE 50MG     44.7     52.8   1745803.2    2062156.8   50MG
1    DIABOSE 50MG     45.4     52.8   1737412.6    2020603.2   50MG
2  GLUCOBAY 100MG     75.7     47.7      1514.0        954.0  100MG
3  GLUCOBAY 100MG     75.7     88.5    360710.5     421702.5  100MG
4   GLUCOBAY 50MG     46.8     26.8       327.6        187.6   50MG

##Creating a basic structure for the SULFON medicine##

In [40]:
# Define the column names
column_names = ['Item Code', 'Item Name', 'P Price', 'R Price', 'PurchPrice', 'RetailPrice', 'Total']

# Define the file paths
file_paths = ['02.241.xlsx', '03.241.xlsx', '04.241.xlsx', '05.241.xlsx', '06.241.xlsx', '07.241.xlsx','08.241.xlsx','09.241.xlsx','10.241.xlsx']

# Create an empty list to store the dataframes
dfs = []

for file_path in file_paths:
    try:
        df = pd.read_excel(file_path, names=column_names)
        dfs.append(df)
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred while reading {file_path}: {e}")


combined_df_sulfon = pd.concat(dfs, ignore_index=True)

print(combined_df_sulfon.head())

   Item Code   Item Name  P Price  R Price  PurchPrice  RetailPrice   Total
0      11079  AMARYL 1MG     11.7      8.9       269.1        204.7     3.0
1      11079  AMARYL 1MG     11.7     11.5       702.0        690.0     7.0
2      11079  AMARYL 1MG     11.7     13.5    266362.2     307341.0  3456.0
3      11079  AMARYL 1MG     11.7     16.1     31040.1      42713.3   345.0
4      11080  AMARYL 2MG     16.7     19.2    639610.0     735360.0  5678.0

In [38]:
# Removed the 'Item Code' and 'Total' columns
combined_df_sulfon = combined_df_sulfon.drop(columns=['Item Code', 'Total'])

combined_df_sulfon.to_excel('modified_data_Sulfon.xlsx', index=False, header=True)

print(combined_df_sulfon.head())

    Item Name  P Price  R Price  PurchPrice  RetailPrice
0  AMARYL 1MG     11.7      8.9       269.1        204.7
1  AMARYL 1MG     11.7     11.5       702.0        690.0
2  AMARYL 1MG     11.7     13.5    266362.2     307341.0
3  AMARYL 1MG     11.7     16.1     31040.1      42713.3
4  AMARYL 2MG     16.7     19.2    639610.0     735360.0

In [44]:
final_dataset = pd.read_excel('modified_data_Sulfon.xlsx')

def extract_dosage_sulfon(item_name):
    match = re.search(r'(\d+\w*)MG', item_name, re.IGNORECASE)
    if match:
        return match.group(1) + "MG"
    else:
        return None

final_dataset['Dosage'] = final_dataset['Item Name'].apply(extract_dosage_sulfon)
print(final_dataset.head())

final_dataset.to_excel('SULFON.xlsx', index=False)

    Item Name  P Price  R Price  PurchPrice  RetailPrice Dosage
0  AMARYL 1MG     11.7      8.9       269.1        204.7    1MG
1  AMARYL 1MG     11.7     11.5       702.0        690.0    1MG
2  AMARYL 1MG     11.7     13.5    266362.2     307341.0    1MG
3  AMARYL 1MG     11.7     16.1     31040.1      42713.3    1MG
4  AMARYL 2MG     16.7     19.2    639610.0     735360.0    2MG

##Creating a basic structure for the THIAZOL medicine##

In [47]:
# Define the column names
column_names = ['Item Code', 'Item Name', 'P Price', 'R Price', 'PurchPrice', 'RetailPrice', 'Total']

# Define the file paths
file_paths = ['02.242.xlsx', '03.242.xlsx', '04.242.xlsx', '05.242.xlsx', '06.242.xlsx', '07.242.xlsx', '08.242.xlsx', '09.242.xlsx', '10.242.xlsx']

# Create an empty list to store the dataframes
dfs = []

for file_path in file_paths:
    try:
        df = pd.read_excel(file_path, names=column_names)
        dfs.append(df)
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except Exception as e:
        print(f"An error occurred while reading {file_path}: {e}")

# Concatenate all the dataframes into a single dataframe
combined_df_thiazol = pd.concat(dfs, ignore_index=True)

print(combined_df_thiazol.head())

   Item Code                     Item Name  P Price  R Price  PurchPrice  \
0      22584  PIOGLITAZONE (PIOTONE)  30MG     10.4     12.0      8829.6
1      11060       PIOGLITAZONE 15MG (SPC)      5.4      6.2      2116.8
2      11060       PIOGLITAZONE 15MG (SPC)      5.4     10.4      2565.0
3      11239       PIOGLITAZONE 15MG (USV)      4.3      4.9      3543.2
4      11239       PIOGLITAZONE 15MG (USV)      4.3      6.2      1014.8

   RetailPrice  Total
0      10188.0    123
1       2430.4     45
2       4940.0     56
3       4037.6    123
4       1463.2     28

In [48]:
# Removed the 'Item Code' and 'Total' columns
combined_df_sulfon = combined_df_sulfon.drop(columns=['Item Code', 'Total'])

combined_df_sulfon.to_excel('modified_data_Thiazol.xlsx', index=False, header=True)

print(combined_df_sulfon.head())

    Item Name  P Price  R Price  PurchPrice  RetailPrice Dosage
0  AMARYL 1MG     11.7      8.9       269.1        204.7    1MG
1  AMARYL 1MG     11.7     11.5       702.0        690.0    1MG
2  AMARYL 1MG     11.7     13.5    266362.2     307341.0    1MG
3  AMARYL 1MG     11.7     16.1     31040.1      42713.3    1MG
4  AMARYL 2MG     16.7     19.2    639610.0     735360.0    2MG

In [49]:
final_dataset_thiazol = pd.read_excel('modified_data_Thiazol.xlsx')

def extract_dosage_sulfon(item_name):
    match = re.search(r'(\d+\w*)MG', item_name, re.IGNORECASE)
    if match:
        return match.group(1) + "MG"
    else:
        return None

final_dataset_thiazol['Dosage'] = final_dataset_thiazol['Item Name'].apply(extract_dosage_sulfon)
print(final_dataset_thiazol.head())

final_dataset_thiazol.to_excel('THIAZOL.xlsx', index=False)

    Item Name  P Price  R Price  PurchPrice  RetailPrice Dosage
0  AMARYL 1MG     11.7      8.9       269.1        204.7    1MG
1  AMARYL 1MG     11.7     11.5       702.0        690.0    1MG
2  AMARYL 1MG     11.7     13.5    266362.2     307341.0    1MG
3  AMARYL 1MG     11.7     16.1     31040.1      42713.3    1MG
4  AMARYL 2MG     16.7     19.2    639610.0     735360.0    2MG

##Combining the three medicine datasets into One dataset

In [50]:
# Loaded the two datasets
ALPHA_GLUCO = pd.read_excel('ALPHA GLUCO.xlsx')
SULFON = pd.read_excel('SULFON.xlsx')
THIAZOL = pd.read_excel('THIAZOL.xlsx')

# Combine the datasets
Finalized_dataset = pd.concat([ALPHA_GLUCO, SULFON,THIAZOL], ignore_index=True)

print(Finalized_dataset.head())

Finalized_dataset.to_excel('Structured_dataset.xlsx', index=False)

        Item Name  P Price  R Price  PurchPrice  RetailPrice Dosage
0    DIABOSE 50MG     44.7     52.8   1745803.2    2062156.8   50MG
1    DIABOSE 50MG     45.4     52.8   1737412.6    2020603.2   50MG
2  GLUCOBAY 100MG     75.7     47.7      1514.0        954.0  100MG
3  GLUCOBAY 100MG     75.7     88.5    360710.5     421702.5  100MG
4   GLUCOBAY 50MG     46.8     26.8       327.6        187.6   50MG